.form {
	max-width: 450px;
	background: #fafafa;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 3px solid #537fe7;
	display: flex;
	flex-direction: column;
	min-height: 250px;
	gap: 20px;
}

.form h3 {
	color: black;
}

.form input {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #bebebe;
	padding: 7px;
	margin: 0px;
	outline: none;
}

.form input[type="submit"] {
	background: #537fe7;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
