* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", "Arial", sans-serif;
}

html {
	font-size: 14px;
}

a:link,
a:visited,
a:hover,
a:active,
li {
	text-decoration: none;
	list-style: none;
}

section h1,
section p {
	text-align: center;
}

section {
	min-height: 100vh;
	min-width: 100%;
}

.dark {
	background-color: #0b2447;
	color: white;
}
